<div class="container">
  <div class="form-horizontal">
    <h1 class="text-center" style="font-size: 350%;">Hello <%= @current_user.name %></h1>

    <%= render partial: 'shared/errors' %>

    <%= form_for @current_user do |f| %>
      <div class="form-group">
        <strong><%= f.label :username, class: "col-lg-2 control-label" %></strong>
          <div class="col-lg-10">
            <%= f.text_field :username, class: "form-control", id: "inputEmail", placeholder: @current_user.username, required: true %>
          </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit "Change Username", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <br>

    <%= form_for @current_user do |f| %>
      <div class="form-group">
        <%= f.label :password, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_field :password, class: "form-control", id: "inputPassword", placeholder: "Password", required: true %>
          </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_field :password_confirmation, class: "form-control", id: "inputPassword", placeholder: "Password Confirmation", required: true %>
          </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit "Change Password", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <br>

    <%= form_for @email_address do |f| %>
      <div class="form-group">
        <%= f.label :email_address, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_field :email_address, class: "form-control", id: "inputEmail", placeholder: "Email" %>
          </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit "Add email", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <br>

    <%= form_for @current_user do |f| %>
    <div class="form-group">
      <%= f.label :venmo, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :venmo, class: "form-control", id: "inputEmail", placeholder: "Venmo", require: true %>
        </div>
    </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit "Change Venmo", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
