
<h1>Get Some, <%= @user.name %> ;)</h1>

<%= render 'shared/errors' %>

<div id='my-orders'>
<h3>Your Recent Orders</h3>
  <ul>
    <% @user.sorted_recent_orders.each do |order| %>
    <div class='user-order-<%= order.expired? ? 'expired' : 'active' %>' id='<%= order.id %>'>
      <li>Restaurant: <%= link_to order.restaurant.name, order_path(order) %><br>
        Description: <%= order.description %><br>
        Date Ordered: <%= order.date_ordered.strftime("%A, %d %b %Y %l:%M %p")  %><br>
        Expires On: <%= order.expiration.strftime("%A, %d %b %Y %l:%M %p") %></li><br>
      </div>
      <% end %>
    </ul>
  </div>

  <%= form_tag new_order_path, method: :get do %>

  <div id='create-order'>
    <!-- on click, redirect to order new action -->
  <%= submit_tag "Create New Order", id: 'create-order-btn' %>
    <!-- <button id='create-order-btn'>Create New Order</button> -->
    <br><br>
  </div>

  <div id='org-list'>
  <h3>Orders You Can Join</h3>
    <div id='org-select'>
    <h5>Select your organization</h5>
      <%= collection_select(:user, :organization_ids, @user.organizations, :id, :name, {include_blank: "All Organizations", selected: 0}) %>
    </div>
    <% end %>
    <br>
    <div id='org-orders'>
      <ul>
        <% @user.organizations.each do |organization| %>
        <% organization.sorted_recent_orders.each do |order| %>
          <% unless order.expired? %> <!-- comment this out for testing purposes. uncomment for production-->
            <div class='org-order' id='<%= order.id %>' organization-id='<%= order.organization_id %>'>
              <li>Restaurant: <%= link_to order.restaurant.name, order_path(order) %><br>
                Description: <%= order.description %><br>
                Date Ordered: <%= order.date_ordered.strftime("%A, %d %b %Y %l:%M %p")  %><br>
                Expires On: <%= order.expiration.strftime("%A, %d %b %Y %l:%M %p") %></li><br>
            </div>
            <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <script scr='users.js'></script>
