<div class="container">
  <%= render 'shared/errors' %>

    <div class="col-lg-8">
      <h1> Get Some, <%= @current_user.name.split(" ").first %> ;) </h1>
    </div>

    <div class="col-md-12">
        <%= form_tag new_order_path, method: :get do %>
        <div id='create-order' >
          <!-- on click, redirect to order new action -->
          <%= submit_tag "Create New Order", id: 'create-order-btn', class: "btn btn-default" %>
          <!-- <button id='create-order-btn'>Create New Order</button> -->
        </div>

        <div id='group-list' class="lead">
          <h3>Orders You Can Join</h3>
          <div id='group-select'>
            <h5>Select your groups</h5>
            <!-- <a class="dropdown" href=""> -->
              <%= user_select_logic %>
            <!-- </a> -->
          </div>
          <% end %>
        </div>
          <br>

      <div class="wrapper">
        <div class="row">
          <div class="col-md-12 content">

            <div class="portfolio-wrapper isotope" style="position: relative; overflow: hidden; height: 1960px;">
              <% @current_user.organizations.each do |organization| %>
                <div id='group-orders card film art isotope-item' style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                <% binding.pry %>
                  <% @current_user.organizations.find_by(id: session[:current_org].to_i).org_sorted_recent_orders.each do |order| %>
                    <% if order.order_you_can_join?(@current_user) %> <!-- comment this out for testing purposes. uncomment for production-->
                      <div class="card film art isotope-item">
                        <!-- <a href="portfolio-item.html" class="thumb"> -->
                        <%= link_to (image_tag "panini.jpeg"), order_path(order), class: "thumb" %>
                          <%#= image_tag "panini.jpeg" %>
                          <span class="overlay"><span class="fa fa-search"></span></span>
                        </a>

                        <div class="card-body group-order" id='<%= order.id %>' organization-id='<%= order.organization_id %>' group-id='<%= order.group_id %>'>
                          <strong>Restaurant: <%= order.restaurant.name %></strong><br>
                          Description: <%= order.description %><br>
                          Expires In: <%= distance_of_time_in_words((order.expiration - Time.current).to_i) %> (<%= order.expiration.strftime("%b %e at %l:%M %p ") %>)<br>
                          Reached: $<%= order.item_total %> out of $<%= order.minimum_cost.to_i %> minimum needed <br>
                          Group: <%= order.group.name %>
                          <%= joinOrderButton(order) %>
                        </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <h3>Your Recent Orders</h3>
        <div class="portfolio-wrapper isotope" style="position: relative; overflow: hidden; height: 1960px;">
          <% unless @current_user.user_sorted_recent_orders.empty? %>
            <div id='my-orders card film art isotope-item' style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                <% @current_user.user_sorted_recent_orders.each do |order| %>
                <div class="card film art isotope-item">
                  <!-- <a href="portfolio-item.html" class="thumb"> -->
                  <%= link_to (image_tag "panini.jpeg"), order_path(order), class: "thumb" %>
                    <%#= image_tag "panini.jpeg" %>
                    <span class="overlay"><span class="fa fa-search"></span></span>
                  </a>

                  <div class='card-body user-order-<%= order.expired? ? 'expired' : 'active' %>' id='<%= order.id %>'>
                    <strong>Restaurant: <%= order.restaurant.name %></strong><br>
                      <% if order.expired? %>
                        <b>EXPIRED <%= distance_of_time_in_words((order.expiration - Time.current).to_i) %> ago</b><br>
                      <% end %>
                      Description: <%= order.description %><br>
                      <% if !order.expired? %>
                        Expires In: <%= distance_of_time_in_words((order.expiration - Time.current).to_i) %> (<%= order.expiration.strftime("%b %e at %l:%M %p ") %>)<br>
                      <% end %>
                      Reached: $<%= order.item_total %> out of $<%= order.minimum_cost.to_i %> minimum needed <br>
                      Group: <%= order.group.name %>
                      <%= joinOrderButton(order) %><br>
                 </div>
               </div>
                <% end %>
            </div>
          <% end %>
        <br>
        <script scr='users.js'></script>
      </div>
    </div>
  </div>
</div>
