<h1>Hello, <%= @user.name %></h1>

<div id='my-orders'>
  <ul>
  <% @user.sorted_recent_orders.each do |order| %>
    <div class='order' id='<%= order.id %>'> 
      <li><%= link_to order.restaurant.name, order_path(order) %><br>
        <%= order.description %></li>
    </div> 
  <% end %>
  </ul>
</div>

<div id='create-order'>
  <!-- on click, redirect to order new action -->
  <button id='create-order-btn'>Create New Order</button> 
</div>

<div id='org-list'>
  <div id='org-select'>
    <%= collection_select(:user, :organization_ids, @user.organizations, :id, :name, {include_blank: "All Organizations", selected: 0}) %>
  </div>
  <div id='org-orders'>
    <ul>
    <% @user.organizations.each do |organization| %>
    
    <% end %>
    </ul>
  </div>
</div>

<script scr='users.js'></script>

