<div class="container">

<h1>Create your account</h1>

<%= render 'shared/errors' %>

<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.fields_for :email_addresses do |email| %>
    <%= email.label :email_address %>
    <%= email.text_field :email_address %>
  <% end %>
  <br>
  <%= f.label :venmo %>
  <%= f.text_field :venmo %>
  <br>
  <%= f.submit "Create Account" %>

<% end %>
</div>
