<div class="col-lg-8">
  <h1><%= @order.restaurant.name %></h1>
  <h3>Description: "<%= @order.description %>"</h3>
  <br>
  <h5>Created by: <%= @order.admin.name %></h5>
  <div class='group-name'>
    <h5>Group: <%= @order.group.name %></h5>
  </div>
  <div class='well'>
    <h4>
      <span class>Order was created at <%= (@order.date_ordered + Time.now.utc_offset).strftime('%l:%M %p') %></span>
      <span class="pull-right">Order will be placed at <%= (@order.expiration + Time.now.utc_offset).strftime('%l:%M %p') %>
      </span>
    <br>
    </h4>
    <h3>Minimum order amount: $<%= @order.minimum_cost_formatted %></h3>
     <br>
    </h4>
    <h3>Minimum order size: $<%= @order.minimum_cost_formatted %></h3>
    <h3 id="current-order-amount">Current order size: $<%= @order.item_total %></h3>
    <% if @order.minimum_cost - @order.item_total <= 0 %>
      <h3>We Reached the Minimum Order Size!!</h3>
    <% else %>
      <h3 id="minimum-amount-needed">Minimum Amount Needed: $<%= @order.minimum_cost - @order.item_total %></h3>
    <% end %>
    <br>
    <ol>
      <div id="item-list">
        <h2>Items:</h2>
        <% @order.items.each do |item| %>
        <li id="item-<%= item.id %>"><%= item.name %> - $<%= item.cost_formatted %>
         <%= button_tag("Delete", :id => "item-delete-#{item.id}", class: "item-delete" ) if (item.user == @current_user) && !@order.expired? %>
        </li>
        <% end %>
      </div>
    </ol>
    <div id="item-errors">
    </div>
    <br>
    <%= hidden_field_tag "order-expiration", ((@order.expiration - Time.now).round) %>
    <h3 id="time-remaining">Time until ordered: </h3></div>

  <%= form_for @item, remote: true do |f| %>
    <%= f.hidden_field :order_id, value: @order.id, id: "order-id" %>
  <span id='item-content-reset'>
    Item name: <%= f.text_field :name, id: 'item-name' %>
    Cost: <%= f.text_field :cost, id: 'item-cost' %>
  </span>
    <%= f.submit "GetSome!", :id => 'item-create-btn' %>
    <% end %>
  </div>

  <div class="col-lg-4">
    <h1> Chat </h1>

    Messages:
    <div id="messages" style="overflow:auto; height:400px;">
      <% @order.messages.each do |message| %>
      <p><b><%= message.user.username %>:</b> <%= message.content %></p>
      <% end %>
    </div>

    <%= form_for @message, remote: true do |f| %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :order_id, value: @order.id %>
    <span id="message-content-reset">
      <%= f.text_field :content %>
    </span>
    <%= f.submit %>
    <% end %>
  </div>
