<h1>Order from <%= @order.restaurant.name %></h1>
<h5>Created by: <%= @order.admin.name %></h5>
<div class='well'>
<h4>Order description: <%= @order.description %></h4>
<br>
<h3>Order was created at <%= (@order.date_ordered + Time.now.utc_offset).strftime('%l:%M %p') %></h3>
<h3>Order will be placed at <%= (@order.expiration + Time.now.utc_offset).strftime('%l:%M %p') %></h3>
<br>
<h2>Minimum order Amount: $<%= @order.minimum_cost %></h2>
<br>
<ol>
  <div id="item-list">
    <h2>Items: <% @order.items.each do |item| %></h2>
    <li><%= item.name %> - $<%= item.cost %></li>
    <% end %>
  </div>
</ol>
<div id="item-errors">
</div>
<br>
<h3>Time until ordered: <%= ((@order.expiration - @order.date_ordered) / 60).round %> minutes</h3></div>

<%= form_for @item do |f| %>
<%= f.hidden_field :order_id, value: @order.id, id: "order-id" %>
Item name: <%= f.text_field :name, id: 'item-name' %>
Cost: <%= f.text_field :cost, id: 'item-cost' %>
<%= f.submit "Create Item", :id => 'item-create-btn' %>
<% end %>

<h3>Time until ordered: <%= ((@order.expiration - @order.date_ordered) / 60).round %> minutes</h3>