<h2>Manage Your Groups</h2>
<br>
<h5> To create a new group for your existing organization</h5>
<%= link_to "Create a Group", new_group_path %>

<br>
<% if !@user_organizations.empty? %>
  <h3>Your Organizations</h3>
   <ul>
    <% @user_organizations.each do |organization| %>
      <h4>Organization Domain: <strong>@<%= organization.domain_name %></strong></h4>
      <h4>&ensp;Groups: </h4>
       <% organization.groups.each do |group| %>
         <% if group.users.include?(@current_user) %>
           <h4>&emsp;&emsp;&emsp;- <%= group.name %> (Members: <span class="member_count"><%= group.users.length %></span>) &emsp;&ensp; <%= check_box_tag 'member', group.id, true , class: 'member' %></h4>
         <% else %>
           <h4>&emsp;&emsp;&emsp;- <%= group.name %> (Members: <span class="member_count"><%= group.users.length %></span>) &emsp;&ensp; <%= check_box_tag 'member', group.id, false , class: 'member' %></h4>
         <% end %>
      <% end %>
      <br>
    <% end %>
  </ul>
<% else %>
  <h1>Please Create a Group!!</h1>
  <!-- put select box for organizations within your current domain name -->
<% end %>
