<div class="row">
  <div class=".col-lg-12">

    <div class="panel panel-default panel-primary">
      <div class="panel-heading"><h2>Manage Your Groups</h2></div>
        <div class="panel-body">
          <div class="container">
          <input type="hidden" value="<%= @current_org.domain_name %>" >

            <div class="row">
              <div class="col-lg-6">

                <% unless @current_org.groups.empty? %>
                  <div class="thumbnail">
                     <div class="caption text-center">
                        <% @user_organizations.each do |organization| %>
                        <div class="domain-group">
                          <h4 class="domains">@<%= organization.domain_name %></h4>
                          <% organization.groups.each do |group| %>
                            <% if group.users.include?(@current_user) %>
                              <h4 class="groups"><%= group.name %> (Members: <span class="member_count"><%= group.users.length %></span>) <%= check_box_tag 'member', group.id, true , class: 'member' %></h4>
                            <% else %>
                              <h4 class="groups"><%= group.name %> (Members: <span class="member_count"><%= group.users.length %></span>) <%= check_box_tag 'member', group.id, false , class: 'member' %></h4>
                            <% end %>
                          <% end %>
                          <br>
                        </div>
                          <% end %>
                          <p class="text-right">
                            <%= link_to "Create a Group", new_group_path, class: "btn btn-default" %>
                          </p>
                      </div>
                    </div>

                <% else %>
                  <h1>Please Create a Group!!</h1>
                  <h3>Your organization currently has no groups</h3>
                  <br>
                  <%= link_to "Create a Group", new_group_path, class: "btn btn-default" %>
                <% end %>
              </div>

              <div class="col-lg-6">
                <%= image_tag("panini.jpeg", class: "img-thumbnail")%>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
