<h2>Manage Your Organizations</h2>
<br>
<h5> To create a new group for your existing organization</h5>
<%= link_to "Create a Group", new_group_path %>
<h5>To join/create groups in other organizations.</h5>
<%= link_to "Add your associated email", new_email_address_path %>

<br>
<% if !@user_organizations.empty? %>
  <h3>Your Organizations</h3>
   <ul>
    <% @domains.each do |domain| %>
      <% domain_organizations = @user_organizations.where(domain_name: domain) %>
      <h4>Organization Domain: <strong>@<%= domain %></strong></h4>
      <h4>&ensp;Organization Name: </h4>
       <% domain_organizations.each do |organization| %>
        
          <h4>&emsp;&emsp;&emsp;- <%= organization.name %> (Members: <%= organization.users.length %>) &emsp;&ensp; <%= check_box_tag(:member) %>
        </h4>
      <% end %>
      <br>
    <% end %>
  </ul>
<% else %>
  <h1>Please Create a Group!!</h1>
  <!-- put select box for organizations within your current domain name -->
<% end %>
