<div class="row">
  <div class=".col-lg-12">

    <div class="panel panel-default panel-primary">
      <div class="panel-heading"><h2>Manage Your Groups</h2></div>
        <div class="panel-body">
          <div class="container">


            <div class="row">
              <div class="col-lg-6">

                <% if !@user_organizations.empty? %>
                <div class="thumbnail">
                   <div class="caption text-center">
                    <h3>Your Organizations</h3>
                      <% @user_organizations.each do |organization| %>
                        <h4>Organization Domain: <strong>@<%= organization.domain_name %></strong></h4>
                        <h4>Groups: </h4>
                        <% organization.groups.each do |group| %>
                        <% if group.users.include?(@current_user) %>
                        <h4>&emsp;&emsp;&emsp; <%= group.name %> (Members: <span class="member_count"><%= group.users.length %></span>) &emsp;&ensp; <%= check_box_tag 'member', group.id, true , class: 'member' %></h4>
                        <% else %>
                        <h4>&emsp;&emsp;&emsp; <%= group.name %> (Members: <span class="member_count"><%= group.users.length %></span>) &emsp;&ensp; <%= check_box_tag 'member', group.id, false , class: 'member' %></h4>
                        <% end %>
                        <% end %>
                        <br>
                        <% end %>
                        <p class="text-right">
                          <%= link_to "Create a Group", new_group_path, class: "btn btn-default" %>
                        </p>
                    </div>
                  </div>

                <% else %>
                <h1>Please Create a Group!!</h1>
                <br>  
                <%= link_to "Create a Group", new_group_path, class: "btn btn-default" %>
                <% end %>
              </div>

              <div class="col-lg-6">
                <%= image_tag("panini.jpeg", class: "img-thumbnail")%>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
