<!DOCTYPE html>
<html>
<head>
  <title>GetSome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <% if session[:user_id] %>
           <li> Hello, <%= User.find(session[:user_id]).name %> </li>

        </div> 
          <%= link_to "Logout", logout_path, method: "delete", class: "btn btn-default navbar-btn navbar-right" %>
        <% else %>
          <%= link_to "Login", login_path, class: "btn btn-default navbar-btn navbar-right" %>
        <% end %>
      </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
